<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/favicon.ico}">

    <title>用户登录</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!--    <link href="../static/CSS/cover.css" rel="stylesheet">-->
    <link th:href="@{/css/cover.css}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--    <link href="../static/CSS/ie10-viewport-bug-workaround.css" rel="stylesheet">-->
    <link th:href="@{/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">

    <link th:href="@{/css/signin.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <!--    <link href="../static/CSS/index.css" rel="stylesheet">-->
    <link th:href="@{/css/index.css}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script th:src="@{/js/ie8-responsive-file-warning.js}"></script><![endif]-->
    <script th:src="@{/js/ie-emulation-modes-warning.js}"></script>
    <script th:src="@{/js/jquery.js}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">

    <form class="form-signin" id="singInForm" th:action="@{/login}"
          th:object="${user}" method="post">
        <h2 class="form-signin-heading">请登录</h2>

        <label for="userId" class="sr-only">邮箱 / 手机号</label>
        <input autofocus class="form-control" id="userId" maxlength="254" placeholder="邮箱 / 手机号"
               required th:field="*{userId}" type="text">
        <span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span>

        <label for="userPassword" class="sr-only">密码</label>
        <input type="password" id="userPassword" th:field="*{userPassword}"
               class="form-control" placeholder="密码" required>
        <span th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}"></span>

        <div class="checkbox">
            <label>
                <input type="checkbox" th:field="*{remember}" value=true> 记住我
            </label>
        </div>
        <p>忘记密码， 点 <a href="/forgetPassword" class="text-primary">这里</a></p>
        <p>选择其它登录方式, <a href="/loginWithCode" class="text-primary">验证码登录</a></p>
        <button class="btn btn-lg btn-primary btn-block" id="signIn" type="button">登录</button>
        <button class="btn btn-lg btn-primary btn-block" id="register" type="button">注册</button>
    </form>
    <script type="text/javascript">
        const singInButton = document.getElementById("signIn");
        const registerButton = document.getElementById("register");
        const singInForm = document.getElementById("singInForm");

        registerButton.addEventListener("click", function () {
            window.location = "/register";
        });

        singInButton.addEventListener("click", function () {
            const userId = document.getElementById("userId").value;
            const emailRegexp = new RegExp('[a-zA-Z0-9]+@[a-zA-Z0-9]+.com');
            const phoneRegexp = new RegExp('[0-9]+');
            let array;
            if ((array = emailRegexp.exec(userId)) != null) {
                console.log("find email address: " + array[0]);
                const password = document.getElementById("userPassword").value;
                $.ajax({
                    type: "post",
                    url:"/User/getUserByIdAndPassword",
                    data: {userId: array[0], userPassword:password},
                    success:function (responseText) {
                        const response = parseInt(responseText);
                        if (response > 0) {
                            singInForm.submit();
                        } else {
                            alert("该账号未注册！")
                        }
                    }
                });
            } else if ((array = phoneRegexp.exec(userId)) != null) {
                console.log("find phone: " + array[0]);
                const password = document.getElementById("userPassword").value;
                $.ajax({
                    type: "post",
                    url:"/User/getUserByIdAndPassword",
                    data: {userId: array[0], userPassword:password},
                    success:function (responseText) {
                        const response = parseInt(responseText);
                        if (response > 0) {
                            singInForm.submit();
                        } else {
                            alert("该账号未注册！")
                        }
                    }
                });
            } else {
                alert("请输入邮箱地址或者电话号码.");
            }
        });
    </script>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--<script th:src="@{/js/jquery.js}"></script>-->
<script>
    window.jQuery || document.write('<script th:src="@{/js/jquery.js}"><\/script>')
</script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
</body>
</html>